HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
!/.idea/vcs.xml
!/.idea/AsteroidTracker.iml
!/.idea/workspace.xml
!/.idea/misc.xml
!/.idea/modules.xml
/.idea/

.DS_Store
